.glc-thumb {
    border: 1px solid #ddd;
    padding: 4px;
    background: #fff;
}
.glc-logo-item {
    border: 1px solid #eee;
    padding: 12px;
    margin-bottom: 12px;
    background: #fff;
}
